body {
	margin: 0;
	background: #22223b;
	color: #cac3c3;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 726px;
	height: 420px;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	border: 2px #cac3c3 solid;	
}